.card {
    height: 100px;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #735bf2;
    color: #ffffff;

    border-radius: 10px;
    margin-bottom: 20px;
    padding: 24px;
}

.card strong {
    font-size: 18px
}